div.header{
    background-color: #559159;
    overflow: hidden;
  }
  
  .header a.ac {
    float: left;
    text-align: center;
    font-size: 2.5em;
    padding: 20px 16px 14px 16px;
    text-decoration: none;
    color: white;
    font-family: monospace; 
    font-variant:small-caps;
    font-weight:normal;
    vertical-align: text-bottom;
  }
  
  .header a:hover{
    color: yellow;
  }
  
  .header a.active {
    float: left;
    text-align: center;
    font-size: 3em;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
    font-family: monospace; 
    font-variant:small-caps;
    font-weight:normal;
    vertical-align: text-bottom;
  }

  body{
    background-color: darkseagreen
  }
  
  h1{
    color: #ffffff;
    font-family: monospace; 
    font-variant:small-caps;
    font-size: 4em;
  }

  p{
    color:#ececcb;
    font-size: 1.5em;
  }

  h2{
    color: white;
    font-family: monospace; 
    font-variant:small-caps;
    font-size: 3em;
  }

  a:link {
    color:#264e1f;
  }

  a:visited {
    color: #318b21
  }

  a:hover{
    color: yellow;
  }