<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Edge Detection</title>
  <link href="../static/style4.css" rel="stylesheet" type="text/css" />
</head>


<body>
  <div class="header">
    <a class="active" href="/">Edge Detection</a>>
    <a class="ac" href="/about">About</a>
    <a class="ac" href="/convert">Convert</a>
    <br><br>
    </div>

    <h1>About Edge Detection</h1>

    <p>Edge detection is a technique used to identify the edges of objects in an image. There are several different ways to do edge detection. On this website, we mainly use three: canny, sobel, and contour.</p>

    <h2>Canny</h2>
    <p>Canny edge detection begins by removing noise from an image by blurring it. Then, the image goes through a Sobel kernel, which calculates the intensity gradient magnitude and direction of each pixel. The pixels are then compared to one another to filter out parts that may not be an edge. </p>
    <a href="https://learnopencv.com/edge-detection-using-opencv/#canny-edge">Learn more about Canny edge detection here</a>
    <h2>Sobel</h2>
    <p>Sobel edge detection uses a filter made up of 3x3 pixels that are compared to one another, similar to canny edge detection.</p>
    <a href="https://learnopencv.com/edge-detection-using-opencv/#sobel-edge">Learn more about Sobel edge detection here</a>
    <h2>Contour</h2>
    <p>Contour edge detection starts by making the image black and white using a certain threshold. The program then looks at every pixel and outlines the boundaries where black and white meet.</p>
    <a href="https://learnopencv.com/contour-detection-using-opencv-python-c">Learn more about Contour edge detection here</a>
    <a href="https://google.com">absdhfjnsjdfndjfslsldsjldsf</a>
  </body>

</html>