<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Edge Detection</title>
  <link href="../static/style3.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="header">
        <a class="active" href="/">Edge Detection</a>>
        <a class="ac" href="/about">About</a>
        <a class="ac" href="/convert">Convert</a>
        <br><br>
        </div>
    
    <h1>Edge Detection Filter</h1>
    <form method="POST">
        <button type="submit" name="threshhold" value="rb"class="button">Rainbow Mode</button>
        <button type="submit" name="threshhold" value="decrease"class="button" >-</button>
        <button type="submit" name="threshhold" value="increase"class="button">+</button>
        <br>
    </form>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <img src="{{ url_for('video_feed')}}" width="100%">
                </div>
            </div>
        </div>
   
</body>



</html>

